---
const imgLogo = "./img/logoNavBarBg.png";
---

<nav class="nav backdrop-blur-sm sticky top-0 margin-0">
  <div ><img class="logo w-auto h-12 p-0 sm:flex sm:w-full"src={imgLogo} alt="LOGO ConstruFuturo" /></div>
  <nav class="flex flex-row gap-2 justify-around p-2 h-auto shadow-lg z-50">
    <a href="/"><em>Inicio</em></a>
    <a href="/Faq"><em>Faq</em></a>
    <a href="/Horarios"><em>Horarios</em></a>
    <a href="/Precios"><em>Precios</em></a>
    <a href="/Servicios"><em>Servicios</em></a>
    <a href="/Tips"><em>Tips</em></a>
    <a href="/Ordenes"><em>Ordenes</em></a>
    <a href="/Servicioss"><em>Servicios Astro</em></a>
  </nav>

 
</nav>

<style is:global>
  nav {
    display: flex;
    gap: 10px;
    justify-content: space-around;
    padding: 2rem;
    height: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
    z-index: 1000;
  }
  ul,
  a {
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
  }

  a:hover {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
  }

  
</style>

