---

const ListadoTips = [
  {
    id: 1,
    titulo: "Verificar Estructuras",
    descripcion:
      "Asegúrate de que las estructuras estén bien diseñadas y construidas según las normas de seguridad.",
  },
  {
    id: 2,
    titulo: "Instala una cámara de seguridad",
    descripcion:
      "Instala una cámara de seguridad en tu hogar, es una de las mejores formas de proteger tu hogar",
  },
  {
    id: 3,
    titulo: "Instala una cerradura de seguridad",
    descripcion:
      "Instala una cerradura de seguridad en tu hogar, es una de las mejores formas de proteger tu hogar y a tu familia.",
  },
  {
    id: 4,
    titulo: "Instala una puerta blindada",
    descripcion:
      "Instala una puerta blindada en tu hogar, es una de las mejores formas de proteger tu hogar el hogar.",
  },
  {
    id: 5,
    titulo: "Inspeccion de Fisuras",
    descripcion:
      "Realiza inspecciones regulares de techos y paredes para detectar fisuras.",
  },
  {
    id: 6,
    titulo: "Sin sobrecargas electricas",
    descripcion:
      "No sobrecargues los circuitos eléctricos y utiliza fusibles apropiados.",
  },
  {
    id: 7,
    titulo: "Ten un extintor de incendios",
    descripcion: "4.	Mantén un extintor de incendios en lugares clave.",
  },
  {
    id: 8,
    titulo: "Escaleras Seguras",
    descripcion:
      "Asegura que las escaleras y barandas estén firmemente fijadas.",
  },
  {
    id: 9,
    titulo: "Utiliza cerraduras de seguridad",
    descripcion:
      "Utiliza cerraduras de seguridad y sistemas de alarma para protección.",
  },

];
---
<>
<h2 class="text-4xl h-24 font-bold text-center">Tips</h2>
<p>Tips de Seguridad y Protección para el Hogar</p>
   {
    ListadoTips.map((tip) => {
      return (
      <details class="w-full h-auto rounded-xl font-medium text-lg hover:cursor-pointer bg-slate-800 hover:bg-slate-700 text-white text-center mb-4 border-b-slate-300">
          <summary class="p-4 mx-auto">{tip.titulo}</summary>
          <p class="p-14 mt-3 text-xl bg-gray-600">{tip.descripcion}</p>
      
      </details>
      );
    })
    }

</>

<style is:global>
  h2 {
   padding: 10px;
   margin: 0 auto;
   text-align: center;
   font-size: 3rem;
   color: #fff000;
 } 

 p {
   font-size: 1.1rem;
   padding: 10px;
   margin: 0 auto;
   width: 100%;
   text-align: center;
   color: #ffffff;
   filter: drop-shadow(0 0 0.75rem black);

 }

html {
 font-family: system-ui, sans-serif;
 background: #13151a;
 background-size: 224px;
 color: white;
}


code {
 font-family:
   Menlo,
   Monaco,
   Lucida Console,
   Liberation Mono,
   DejaVu Sans Mono,
   Bitstream Vera Sans Mono,
   Courier New,
   monospace;
}
</style>
