---
const questionList = [
  {
    question: "¿Cuál es el tiempo promedio para construir una casa?",
    response: "Aproximadamente 6-8 meses, dependiendo del diseño y complejidad.",
  },
  {
    question: "¿Ofrecen servicios de diseño de interiores? ",
    response: "Sí, tenemos un equipo de diseñadores de interiores a disposición.",
  },
  {
    question: "¿Cómo se maneja el tema de los permisos?",
    response: "Nos encargamos de todos los permisos y regulaciones necesarios.",
  },
  {
    question: "¿Ofrecen garantía en la construcción?",
    response: "Sí, ofrecemos una garantía de estructura de 10 años.",
  },
  {
    question: "¿Qué sucede si deseo hacer cambios durante la construcción? ",
    response: "Podemos acomodar cambios, aunque puede afectar el costo y el tiempo del proyecto.",
  },
  {
    question: "¿Qué incluye la remodelación completa? ",
    response: "Incluye cambios estructurales, acabados, instalaciones eléctricas y de plomería.",
  },
  {
    question: "¿Cómo puedo obtener una cotización? ",
    response: "Puedes contactarnos a través de nuestro sitio web o número de teléfono.",
  },
  {
    question: "¿Cuál es el costo extra por kilómetro fuera de los 50 km de cobertura?",
    response: "Cobramos 500 ARS o 1,02 USD por kilómetro adicional.",
  },
  {
    question: "¿Hacen trabajos pequeños como reparaciones?",
    response: "Sí, ofrecemos una garantía de estructura de 10 años.",
  },
];
import Layout from "../layouts/Layout.astro"

---
<Layout title="Faq" >
  <div>
    <h2>Faq</h2>
  
    <section>
      <div class="quest-resp">{questionList.map( (quest) => ( 
          <div>
              <h3>{quest.question}</h3>
              <p>{quest.response}</p>
          </div>
          
      ))}
    </section>
  </div>

</Layout>


<style is:global>
  html {
    font-family: system-ui, sans-serif;
    background: #13151a;
    background-size: 224px;
    color: white;
  }
  code {
    font-family:
      Menlo,
      Monaco,
      Lucida Console,
      Liberation Mono,
      DejaVu Sans Mono,
      Bitstream Vera Sans Mono,
      Courier New,
      monospace;
  }
</style>