---
import Layout from "../layouts/Layout.astro"
import Hero from "./Hero.astro"

---


<Layout title="Hero Last">
    <div class="container-principal capa">
        <Hero />

    </div>



</Layout>

<style>

    .container-principal {
        width: 100%;
        height: auto;
        background-image: url("../../img/construccion.jpg");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        display: flex;
        justify-content: center;
        align-items: center;

}





</style>


<script>

</script>
