---
import NavBar from "../components/Navegacion/NavBar.astro"
import Layout from "../layouts/Layout.astro"
import Hero from "./Hero.astro"

---


<Layout title="Hero Last">
    <div class="container-principal">
        <NavBar />
        <Hero />

    </div>



</Layout>

<style>

    .container-principal {
        background-color: black;
        height: 100vh; 
        width: 100%;
        background-image: url("../../public/img/construccion.jpg");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    
   
    }





</style>


<script>

</script>
