---
const imgHero = "./img/main-logo-white.svg";

---


	
	<div class="container-hero capa">
		<figure>
			<img src={imgHero} class="mx-auto w-auto h-auto" alt="Imagen Logo">
		
		</figure>
		<article class="">
			<h1 class="font-medium py-3 pb-3 px-3" >Somos ConstruFuturo!</h1>
	
	
			<h4 class="font-medium py-3 pb-3 px-3">Una empresa dedicada a brindar soluciones integrales en el campo de la construcción. </h4>
				
				<h4 class="font-medium py-3 pb-3 px-8">Con más de 25 años de experiencia y un equipo de profesionales altamente capacitados, transformamos tus ideas en estructuras sólidas y seguras. </h4>
				<h4 class="font-medium py-3 pb-3 px-8">Tu sueño, nuestra misión. </h4>

			
		</article>
		 
	</div>

<style is:global>
	.container-hero {
		max-width: 1200px;
		height: auto;
		margin: 0px auto;
		padding: 80px 40px;
		border-radius: 10px; 
		text-align: center; 
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	.container-hero, .capa  {
		font-size: 2.5rem;
		color: white;
		filter: drop-shadow(0 0 0.75rem black);
		background-color: rgba(0, 0, 0, 0.4);
		width: 100%;
	}
	
	.container-hero, h1  {
		font-size: 2.5rem;
		color: white;
		filter: drop-shadow(0 0 0.75rem black);
	}
	.container-hero, h2  {
		font-size: 1.5rem;
		color: white;
		filter: drop-shadow(0 0 0.75rem black);
	}

	h2 {
      padding: 10px;
      margin: 0 auto;
      text-align: center;
      font-size: 3rem;
      color: #fff000;
    } 
	
	h4, h5 {
		font-size: 1.2rem;
		color: white;
		filter: drop-shadow(0 0 0.75rem white);
		margin: 0 auto;
	}	
	html {
		font-family: system-ui, sans-serif;
		background: #13151a;
		color: white;
		
	}
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}
</style>

  