---
import Layout from "../layouts/Layout.astro"
import Hero from "./Hero.astro"

---


<Layout title="Hero Last">
    <div class="container-principal capa">
        <Hero />

    </div>



</Layout>

<style is:global>

    .container-principal {
        width: 100%;
        height: auto;
        background-image: url("../../img/construccion.jpg");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        display: flex;
        justify-content: center;
        align-items: center;

}


h2 {
      padding: 10px;
      margin: 0 auto;
      text-align: center;
      font-size: 3rem;
      color: #fff000;
    } 


</style>


<script>

</script>
