---
import Layout from "../layouts/Layout.astro";


---



<Layout title="Horario de Atencion">
  <div>
    <h2>Horarios de Atencion y Contacto</h2>
  
    <ul>
      <li>Lunes a Viernes: 8:00 am - 6:00 pm</li>
      <li>Teléfono: +54 1234 5678</li>
      <li>Correo electrónico: contacto@construfuturo.com</li>
      <li>Ubicación: Avenida Constructor 456, Buenos Aires, Argentina</li>
    </ul>
  </div>

</Layout>

<style is:global>
  html {
    font-family: system-ui, sans-serif;
    background: #13151a;
    background-size: 224px;
    color: white;
  }
  code {
    font-family:
      Menlo,
      Monaco,
      Lucida Console,
      Liberation Mono,
      DejaVu Sans Mono,
      Bitstream Vera Sans Mono,
      Courier New,
      monospace;
  }
</style>
