---
import Layout from "../layouts/Layout.astro";
/* import Faq from "./Faq.astro";
import Horarios from "./Horarios.astro";
import Servicios from "./Servicios.astro";
import Tips from "./Tips.astro";
import Precios from "./Precios.astro"; */
import NavBar from "../components/Navegacion/NavBar.astro";
import HeroBack from "./HeroBack.astro";
---

<Layout title="Bienvenidos a ConstruFuturo!">

  <NavBar/>
	<main >
 	  <HeroBack />
   </main>
  <footer />
</Layout>

<style is:global>
  html {
    font-family: system-ui, sans-serif;
    background: #13151a;
    background-size: 224px;
    color: white;
  }
  code {
    font-family:
      Menlo,
      Monaco,
      Lucida Console,
      Liberation Mono,
      DejaVu Sans Mono,
      Bitstream Vera Sans Mono,
      Courier New,
      monospace;
  }
</style>

