---
import { db } from '../lib/firebaseConfig';
import { collection, getDocs } from "firebase/firestore/lite";

// Funci칩n para obtener la lista de 칩rdenes
async function fetchOrdenes() {
  const ordenesSnapshot = await getDocs(collection(db, "Ordenes"));
  return ordenesSnapshot.docs.map(doc => doc.data());
}

// Obtener las 칩rdenes al cargar la p치gina
const ordenes = await fetchOrdenes();
---

<html>
  <head>
    <title>Ordenes</title>
  </head>
  <body>
    <h1>Listado de Ordenes</h1>
    <ul>
      {ordenes.map((orden) => (
        <li>{orden.id}: {orden.descripcion}</li>
      ))}
    </ul>
  </body>
</html>
