---
import Layout from "../layouts/Layout.astro"
---

<Layout title="Precios">
    <div><h2>Precios</h2>
        <p>Lista de Precios Orientativos</p>
        <table>
            <tr>
                <th>Servicio</th>
                <th>Precio $</th>
            </tr>
            <tr>
                <td>Construcción de vivienda unifamiliar</td>
                <td>4,900,000</td>
            </tr>
            <tr>
                <td>Remodelación completa</td>
                <td>980,000</td>
            </tr>
            <tr>
                <td>Instalación eléctrica</td>
                <td>245,000</td>
            </tr>
            <tr>
                <td>Obras viales por metro cuadrado</td>
                <td>49,000</td>
            </tr>
            <tr>
                <td>Diseño y planificación</td>
                <td>735,000</td>
            </tr>
            <tr>
                <td>Construcción de piscina</td>
                <td>1,225,000</td>
            </tr>
            <tr>
                <td>Construcción de muro perimetral</td>
                <td>1,225,000</td>
            </tr>
            <tr>
                <td>Construcción de muro de contención</td>
                <td>1,225,000</td>
            </tr>
            
    
    
        </table>
    
    </div>

</Layout>



<style is:global>

	html {
		font-family: system-ui, sans-serif;
		background: #13151a;
		background-size: 224px;
		color: white;
	}
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}
</style>

