---
import Layout from "../layouts/Layout.astro"
import NavBar from "../components/Navegacion/NavBar.astro"
---

<Layout title="Servicios">
  <NavBar />

  <div>
    <h2>Servicios</h2>
  <p>
    ConstruFuturo ofrece una amplia gama de servicios adaptados a tus
    necesidades, tanto para proyectos residenciales como comerciales e
    industriales:
  </p>
  <ul>
    <li>Construcción de edificios y viviendas</li>
    <li>Remodelación y ampliación</li>
    <li>Instalaciones eléctricas y de plomería</li>
    <li>Obras viales y públicas</li>
    <li>Diseño y arquitectura</li>
    <li>Consultoría y gestión de proyectos</li>
  </ul>
</div>
</Layout>

<style is:global>
  html {
    font-family: system-ui, sans-serif;
    background: #13151a;
    background-size: 224px;
    color: white;
  }
  code {
    font-family:
      Menlo,
      Monaco,
      Lucida Console,
      Liberation Mono,
      DejaVu Sans Mono,
      Bitstream Vera Sans Mono,
      Courier New,
      monospace;
  }
</style>

