---
import { db } from '../lib/firebaseConfig';
import { collection, getDocs } from 'firebase/firestore/lite';


---

<html>
  <head>
    <title>Servicios</title>
  </head>
  <body>
    <h1>Listado de Servicios</h1>
    <ul>
      {servicios.map((servicio) => (
        <li>{servicio.nombre}</li>
      ))}
    </ul>
  </body>
</html>