---
import { getCollection } from 'astro:content';



export async function getStaticPaths() {

    const obrasEntries = await getCollection("obras");
    return obrasEntries.map(obra => ({
        params: { slug: obra.slug }, props: { obra: obra.}, 
    }));
}


const { obra } = Astro.props; 
const { Content } = await obra.render();

---

<h1>{obra.slug.title}</h1>